
.nav {
  background-color: #17161b !important;
  border-bottom: 0.2px solid #444658 !important;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem calc(100vw - 1000px) / 2;
  z-index: 100;
}

.nav-link {
  font-size: 30px;
  color: #fff;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.nav-link:hover {
  color: #fff;
}